[2016-02-25 16:29] kRITZCREEK opened #1 "Renamed psc-ide to psc-ide-client"
In order to be more consistent I renamed the psc-ide exectuable into psc-ide-client. This will take effect with the purescript-0.8.1 release.

[2016-03-01 22:28] FrigoEU commented on #1
I pushed my latest updates under tag 0.1.0 for compiler version < 0.8.1. Next version, 0.2.0, assumes compiler version >= 0.8.1 and uses "psc-ide-client" instead of "psc-ide". Also added this to the readme.

[2016-03-01 22:28] #1 closed

[2016-03-07 13:27] leohahn opened #2 "Check for Neomake"
I tried working with neomake, but the syntax check does not work. I imagine it is not supported?
I prefer it because it is asyncronous (working with neovim).

[2016-03-08 11:03] FrigoEU commented on #2
I use neovim as well and tried using neomake before, but I ran into some issues with neomake not correctly buffering stdout. That was some time ago though, so I'll take a look at this again soon.

[2016-03-08 15:03] leohahn commented on #2
Cool, I saw that you can create Makers in neo-make, but I have no experience with vim-script. Anyway, cool library :+1:

[2016-03-28 13:48] kofno opened #3 "Add import qualifications doesn't work."
I can remove import qualifications. And adding the type signature works. And the syntastic checking works. But, for some reason, I can't get import qualifications to work.

[2016-03-29 06:56] FrigoEU commented on #3
Hey, psc-ide-vim does quite some string parsing etc, so could you give me the exact line/file that you're working with, and which command isn't working?

[2016-03-29 09:31] FrigoEU commented on #2
Finally did some work on this! I had some difficulties getting it to work, but I made a PR for Neomake with a PureScript/Pulp maker here: https://github.com/benekastah/neomake/pull/359. Getting it into the neomake master might take some time though, if it will happen at all. That said, I'm using it and it seems to work. You can install it with Plug or some other vim package manager:

Plug 'https:/

[2016-03-29 15:11] kofno commented on #3
[code]

PSCIDEaddImportQualifications doesn't work, just silently does nothing.
PSCIDEapplySuggestion doesn't work. 'No suggestion found'

You can see in this screen shot that suggestions were detected:

<img width="579" alt="screenie" src="https://cloud.githubusercontent.com/assets/19907/14112950/da6f7df8-f59e-11e5-9ad1-d3d5d647e48e.png">

[2016-03-29 15:43] leohahn commented on #2
Awesome :D, thanks for taking the time. I will give it a try.

[2016-03-29 18:56] FrigoEU commented on #3
Hmm, very strange, could you tell me what version of psc-ide-vim, psc/psc-ide and pulp you're using?

[2016-03-29 19:03] FrigoEU commented on #2
Output buffering still seems to be completely random, very frustrating. If you're really interested you can try, I'd like to hear what your experience is with it...

[2016-03-30 01:41] kofno commented on #3
pulp version 8.1
psc-ide-vim is at ff6d0127517ad16012b
psc is 0.8.3.0
psc-ide-client is 0.8.3.0

It looks like I have an older psc-ide in the path somewhere too, which is 0.6.1

EDIT:
removing 0.6.1 psc-ide didn't make a difference.

[2016-03-31 09:48] FrigoEU commented on #3
Can't seem to be able to reproduce this so far. Can you do this:

  let g:psc_ide_log_level = 3

and try it again? You should see some more logging of what psc-ide-vim is trying to do, maybe that'll help us pinpoint the problem.

[2016-04-15 12:06] kofno commented on #3
Sorry for taking so long to get back to this.

With the logging turned up, I see this. Then, when I hit ENTER, it goes away, but the buffer is never updated.

[code]

When I try PSCIDEapplySuggestion, I see this:

[code]

[2016-04-18 20:36] jazmit commented on #3
I'm seeing the exact same issue, using neovim

[code]

[2016-04-18 20:46] jazmit commented on #3
OK, I did a little more digging and found a work-around.
If you have Syntastic populate and open the location list with `:Errors`, everything then works as designed.  I'm no vimscript expert, but could this be a neovim issue where you are retrieving the  location list before it is populated in https://github.com/FrigoEU/psc-ide-vim/blob/master/ftplugin/purescript_pscide.vim line 247?

[2016-04-18 21:05] jazmit commented on #3
More digging, and I found this in the syntastic help

[code]

This means adding the following to vimrc fixes the problem:
`au FileType purescript let syntastic_always_populate_loc_list=1`

[2016-04-19 08:26] FrigoEU commented on #3
Thanks a lot for the research! `au FileType purescript let syntastic_always_populate_loc_list=1` is definitely the problem. I have this enabled by default so I never ran into this issue. I'll do some testing to see if I can do the suggestions some different way, otherwise I'll add this to the readme. Thanks again!

[2016-04-19 08:29] kritzcreek commented on #3
that's some detective conan level digging!

[2016-04-19 10:20] FrigoEU commented on #3
Got it. I'll release this soon, together with the automatic imports feature from purescript 8.4.

[2016-04-19 11:59] kofno commented on #3
\o/

Thanks everyone! You are awesome!

[2016-04-19 15:20] FrigoEU commented on #3
Should be fixed in 0.3.0 (just uploaded now). Also added :PSCIDEimportIdentifier. Let me know if it's not fixed for you yet, otherwise I'll close this soon.

[2016-04-19 20:17] jazmit commented on #3
Works like a dream!  Tried out `:PSCIDEImportIndentifier`, and it is a life saver.  I just started using Purescript a couple of days ago and I was wondering how on earth it's possible to get anything done if you have to do all those imports manually...

[2016-04-20 07:57] FrigoEU commented on #3
Excellent. After using importIdentifier and applySuggestion for a while, I find I'm rarely editing my import list manually. Most of the time I have it folded automatically with a fold expression. Only when I need to resolve some conflict or add an operator (still need to fix importIdentifier so it can also handle operators) do I switch to manual folding and edit by hand, but it happens rarely.

[2016-04-20 17:25] paluh opened #4 "Ability to disable syntax checking (or module loading) on buffer save and buffer load"
Thanks for wonderful plugin!

As `pscid` has been released I've found that fastest workflow for me is to run `pscid -p 4242` in terminal, disable `sytnastic` and `psc-ide-vim` autocommands (I've done this by hand in plugin code).
Currently I'm using all helpful `PSCIDE*` calls for imports, types insertions/inspections etc. , but I'm reading compiler error messages and suggestions from `pscid` term

[2016-04-21 09:38] FrigoEU commented on #4
I've been working on a branch this morning that incorporates the fast rebuild into psc-ide-vim. It's insanely fast! I also incorporated a global variable, g:psc_ide_syntastic_mode:
0 = off
1 = use fast rebuild via psc-ide
2 = use full rebuild via pulp
Once I think it's stable I'll release this so you can choose what you want, even disable it. After using this though, I'm in love with using fast re

[2016-04-21 11:03] paluh commented on #4
Wow! That's great! I will try it for sure! Thanks!

[2016-04-21 11:07] FrigoEU commented on #3
Fixed by 792c56a07d89f3c2e0a096b062d80a1ccfa07641.

[2016-04-21 11:07] #3 closed

[2016-04-21 11:39] FrigoEU commented on #4
Ok, done in 0.4.0. Let me know what you think! I did some sizeable changes to the plugin, so if something breaks I'll fix it asap.

[2016-04-21 11:47] FrigoEU commented on #2
Neomake is still giving me trouble, just can't seem to get the output from psc/pulp streamed correctly back into neovim...

However I did add fast-rebuild support if you have psc >= 0.8.5.0, which is almost instant checking, so for me at least I don't feel the need to have Neomake anymore. Let me know what you think.

[2016-04-21 13:11] paluh commented on #4
Amazing! Now I don't need and want to use `0` any more :-) Again, thanks a lot for this wonderful plugin! I think that tooling with fast workflow is essential for Purescript adoption and success, which this language for sure deserves!

P.S. I think that you have forgotten to `git push --tags` ;-)

[2016-04-21 13:11] #4 closed

[2016-04-22 17:35] leohahn commented on #2
Sorry for not answering before. I am currently not developing with Purescript (university classes and work).
But you can change it for sure if it is better. In the weekend I will have more time to play with the language.

[2016-05-12 23:46] alexmingoia opened #9 "How to debug syntastic checker?"
I'm having trouble getting the syntastic checker to work on a fresh install.

Syntastic does not list any available checkers for purescript. I have a fresh vim install, latest version of syntastic, purescript-vim, and psc-ide-vim installed using vundle. If I echo the `$PATH` in vim I get the correct path, and `psc`, `psc-ide-server`, etc. is available.

Also, I can run commands like `:PSCIDEtype`

[2016-05-12 23:51] alexmingoia commented on #9
It turns out it was because even though `psc-ide-server` and `psc-ide-client` binaries were installed, my `psc` was `0.8.3` and needed to be `0.8.4+`.

[2016-05-12 23:51] #9 closed

[2016-05-13 09:01] kritzcreek commented on #9
@alexmingoia I suggest you update to 0.8.5 as that will give you the super fast rebuilding! Check the syntastic section in the README. Also you don't need to install the psc-ide binaries "extra" they are shipped with the compiler.

[2016-06-25 13:32] FrigoEU commented on #2
Closing for now.

[2016-06-25 13:32] #2 closed

[2016-06-28 21:22] beckyconning opened #10 "E492: Not an editor command: PSCIDEstart"
No psc-ide-vim commands are autocompleted or accepted. Not sure whats wrong. Here is my .vimrc

[code]

[2016-06-29 09:32] #10 closed

[2016-07-03 14:16] MaiaVictor opened #12 "Several errors when installing psc-ide-vim as suggested"
When using `:PSCIDEtype`, I get this error:

    Error detected while processing function PSCIDEtype..<SNR>55_getType..<SNR>55_callPscIde..<SNR>55_findFileRecur:
    line   16:
    E118: Too many arguments for function: globpath
    E15: Invalid expression: globpath(pattern, a:filename, 1, 1)
    E118: Too many arguments for function: globpath
    E15: Invalid expression: globpath(pattern, a:filen

[2016-07-03 15:12] VictorTaelin commented on #12
Fixed by updating to latest version of VIM.

[2016-07-03 15:12] #12 closed

[2016-07-03 15:15] MaiaVictor opened #13 "Error: failed to split case for: x"
On this file:

    module Main where

    import Prelude
    import Control.Monad.Eff (Eff)
    import Control.Monad.Eff.Console (CONSOLE, log, print)

    data Foo = Foo | Bar

    foo :: Foo -> Int -> String
    foo x _ = ?foo

    main :: forall e. Eff (console :: CONSOLE | e) Unit
    main = do
        log "Hello sailor!"

By calling `:PSCIDEaddClause` with cursor above the `x` variable on the

[2016-07-03 15:29] kritzcreek commented on #13
@MaiaVictor `addClause` is meant to be used on a type declaration. Try to use `caseSplit` instead.

[2016-07-05 22:05] sharkdp opened #15 "Problems with Unicode characters"
Not sure if this is a problem of `psc-ide-vim`, of `psc-ide` (/cc @kRITZCREEK) or if it is due to user error :smile: ..

I start with the following file:
[code]

Then I run `:PSCIDEimportIdentifier` with the cursor on `show`. The import statement is correctly added, but the Unicode symbols get messed up:

[code]

(By the way, both psc-ide-vim and psc-ide are fantastic!!)

[2016-07-06 10:41] FrigoEU commented on #15
Hmm this feels like something psc-ide is doing, or something weird in how psc-ide and vim interact. Let's see if @kRITZCREEK can shed some light on this.

[2016-07-06 10:56] kritzcreek commented on #15
We had problems with unicode in an earlier version of `psc-ide`, but that should've been fixed with https://github.com/purescript/purescript/commit/fea78a9401af0969e4f2b82aa474fde8fa080483. If you're using PS >= 0.8.5 that fix should already be applied... I'll try to repo later

[2016-07-06 19:58] sharkdp commented on #15
I'm using the current version 0.9.1

[2016-07-06 20:13] kritzcreek commented on #15
![](https://media.giphy.com/media/l41Y9VxH9abpL4kKs/giphy.gif)

I think `psc-ide`assumes UTF-8, maybe your file has a different encoding?

[2016-07-06 20:53] sharkdp commented on #15
Thanks for the feedback.

That's strange. The file encoding is definitely UTF-8:

[code]

That's also what vim shows. I thought it might have something to do with my vim config, so I reduced my .vimrc to this:

[code]

But the problem persists... :frowning:

(What screen-grabber do you use? :smile:)

[2016-07-06 21:20] oblitum commented on #15
I got more WTF with that moving rainbow 😄

[2016-07-06 21:29] oblitum commented on #15
For what's worth, I reproduce the same.

[2016-07-06 21:44] kritzcreek commented on #15
1. @oblitum that's [nyan cat](https://www.emacswiki.org/emacs/NyanMode) ;)
2. @sharkdp The screen grabber is Giphy (only use it on the mac though)
3. How about you start a `psc-ide-server --debug` instance in the terminal, and talk to it via `psc-ide-client` on the command line.

This is what the command looks like (you'll have to put it into a single line and change the paths):

[code]

EDIT: Mak

[2016-07-06 22:03] sharkdp commented on #15
I didn't manage to send the commands to psc-ide-client directly. Do I need to pass some parameters to the `"load"` command? Or be in some specific directory?

I did, however, enable debugging in psc-ide-vim and is created this output:

[code]

Note that the second "callPscIde: Raw response" includes the scrambled symbols. The created tempfile looks fine (including utf-8 encoding) ...

[2016-07-06 22:08] kritzcreek commented on #15
Oh allright I think only the vim plugin is using the response from the json instead of the outfile. Might be an encoding issue around that then. Thanks I'll try to reproduce and fix it tomorrow.

[2016-07-06 22:10] oblitum commented on #15
I've got this on the command line:

[code]

[2016-07-06 22:11] oblitum commented on #15
By the way, I've grabbed the command from the plugin instead of trying your suggestion. My temp file was:

[code]

[2016-07-06 22:15] oblitum commented on #15
@sharkdp I got a bit of time to figure out you need to press enter after `psc-ide-client -p 4242`, and then insert the command, json encoded.

[2016-07-06 22:21] oblitum commented on #15
by https://github.com/FrigoEU/psc-ide-vim/issues/15#issuecomment-230922515, it's definitely a psc-ide issue.

[2016-07-08 20:09] kritzcreek commented on #15
If someone's got a haskell environment set up, could you compile and try out my fix? https://github.com/purescript/purescript/pull/2221 It works for me, but I don't have a VIM installation to test if it's fixed in the editor aswell.

[2016-07-08 20:47] sharkdp commented on #15
Sorry.. I didn't see your pull requests. Just tried it and it works perfectly!

I guess we can leave this open until your PR is merged.

[2016-07-08 20:50] kritzcreek commented on #15
awesome, thanks for confirming!

[2016-07-10 09:22] kritzcreek commented on #15
let's close this when 0.9.2 is released.

[2016-07-10 12:23] FrigoEU commented on #15
<3 kritzcreek.

[2016-07-12 13:36] FrigoEU commented on #15
Thanks for fixing this @kRITZCREEK ! https://github.com/purescript/purescript/pull/2221

[2016-07-12 13:36] #15 closed

[2016-07-23 01:41] Thimoteus opened #16 "Censor some warnings?"
I have a project that uses psa to censor some warnings that I don't care about, but psc-ide-vim will happily report them to me. Is there any way to censor them?

[2016-08-19 14:39] oblitum opened #17 ""No matching autocommands" message"
Starting vim from a proper project directory and `:set ft=purescript` will give the "No matching autocommands" message.

[2016-08-19 14:45] FrigoEU commented on #17
Can't seem to reproduce this. What version of vim/neovim are you using?

[2016-08-19 14:47] natefaubion commented on #17
FWIW, I get this too (7.4)

[2016-08-19 14:49] FrigoEU commented on #16
Nope, not at the moment, but seems the other editor plugins are doing it so I guess I can't stay behind much longer :D.

[2016-08-19 15:09] oblitum commented on #17
Vim version 7.4.2116.

[2016-08-19 21:42] FrigoEU commented on #17
Fixed in 0.6.0 (just released)! Also added goToDefinition.

[2016-08-19 21:42] #17 closed

[2016-08-20 08:03] kritzcreek commented on #13
Did the casesplit command work for you? Can we close this?

[2016-08-29 05:51] oblitum opened #18 "PSCIDEpursuit gives no results"
Currently I'm only getting "PSC-IDE: No results found on Pursuit" for anything my cursor is over.

[2016-08-29 05:54] oblitum commented on #18
With log level 3:

[code]

Maybe it's probably related with the service not working properly?
- https://github.com/purescript/pursuit/issues/221

[2016-10-05 18:49] RoelVanderPaal opened #20 "add syntastic to the list of prerequisites in README.md"

[2016-10-06 05:30] FrigoEU commented on #20
It's already there... "This plugin provides two kinds of syntax checking with syntastic."

[2016-10-06 05:30] #20 closed

[2016-10-26 18:28] ChrisPenner opened #22 "Fails to start server"
Hey there! I'm new to purescript and with strongly typed languages like this I feel blind writing code without a checker running on it, so thanks so much for putting this together!

I've got it installed (and the required dependencies), and I can actually use it just fine if I start up a `psc-ide-server` manually, but for some reason it seems to fail when trying to start the server itself, the por

[2016-10-26 19:07] FrigoEU commented on #22
Hey Chris,

I tried to reproduce this but no luck so far, could you try running the start command just on the command line? It would be this:

[code]

Hopefully this should show us what errors you're getting when running the server...

[2016-10-26 19:08] FrigoEU commented on #18
This seems to work for me. I know there have been some problems with Pursuit in the recent past. Could you check if this is still relevant?

Thanks!

[2016-10-26 19:26] FrigoEU commented on #13
I tested both commands again, they do seem to work for me. I'm closing this since I'm assuming you just wanted to use caseSplit, but if you still think there's a bug feel free to reopen.

[2016-10-26 19:26] #13 closed

[2016-10-26 19:41] ChrisPenner commented on #22
Hrmm, very strange, that command runs just fine, and it connects to the resulting server without any trouble too, but if I kill the server and let psc-ide-vim try and restart it it still fails 😢

[2016-10-26 19:48] ChrisPenner commented on #22
I tried running
system("psc-ide-server src/**/*.purs bower_components/**/*.purs -p 3030 -d /Users/chris/dev/purescript/hello > /dev/null &")

directly from in vim, and I think the issue may be related to the fact that I use zsh as my default shell:
`zsh:1: no matches found: src/**/*.purs`

[2016-10-26 19:52] ChrisPenner commented on #22
For reference: https://github.com/FrigoEU/psc-ide-vim/blob/3c376289d368b7175cb6c10e2960f08830ee4cb4/ftplugin/purescript_pscide.vim#L70
Ah, looks like the commands being run assume that vim's current working directory is the project root (I use `set autochdir`, so my cwd is always the same as the file's path), not sure if that's being set anywhere, but if I ensure that vim's `pwd` is the project ro

[2016-10-26 20:14] FrigoEU commented on #22
That makes perfect sense. `dir ."/src/**/*.purs"` etc works, tested it with `set autochdir`, that was indeed the problem. Thanks a lot for the investigation, don't think I would have found that by myself :).

I pushed this release just now (tag 0.6.1). If this works, could you let me know then I can close this issue.

[2016-10-26 22:03] ChrisPenner commented on #22
Seems to have fixed it right up!
Thanks for maintaining this! And also for being so incredibly fast with a response and fix!

[2016-10-26 22:03] #22 closed

[2016-10-27 19:09] oblitum commented on #18
Looks fine now ;-)

[2016-10-27 19:09] #18 closed

[2016-11-17 15:43] dlants opened #23 "server fails to start on psc-ide 0.10.2"
When no server is running,

[code]

However, while running `psc-ide-server` in another shell, it works.

[2016-11-23 05:10] dlants commented on #23
turns out this was an issue with neovim - plugin works fine with vim 8.0, but fails to launch server with nvim 0.1.6

[2016-11-23 05:10] #23 closed

[2017-01-12 11:29] ibrahimsag opened #26 "GoToDefinition error"
I keep getting the following error while using the goto definition command. I couldn't figure out what might be the problem. can it be related to psc udpates?

[code]

[2017-02-09 07:37] jez opened #27 "Impossible to select from list of greater than length 10"
Sometimes `psc-ide-vim` has to ask the user to pick from a list of options. If that list of options has more than 10 things, it's impossible to select anything other than the first 10:

[code]

Look at the `call map ...` line. We're constructing our choices list by taking the element's index in the list (`v:key`) and concatenating it with the option's name (`v:val["module"]`).

Vim creates shortcu

[2017-02-11 09:21] FrigoEU commented on #27
Hmm indeed. I actually stumbled upon this before, but it was never annoying enough for me to fix :). Seems not a big deal to change it to a for-loop, apart from Vim-script being awful. I'll see if I can implement this on a lazy morning. Thanks for the report!

[2017-02-26 18:34] andreasthoelke commented on #26
I seem to be getting the same error:
[code]
In other situations `PSCIDEgoToDefinition` brings up a buffer with the correct file-path, but the buffer is empty.

I'm using MacVim 8.0.329

[2017-03-03 10:18] #27 closed

[2017-03-10 07:17] knaman2609 opened #30 "Command not appearing on Vim command line"
intstalled the plugin using vundle Plugin 'frigoeu/psc-ide-vim'.

Dont even see the command appearing on vim command line
:PSCIDEtype says Not an editor command: PSCIDEtype

[2017-03-12 02:53] coot opened #31 "use job-channel vim-8 feature"
The server could be run as a an async job and then all the commands would not block vim's interface.

[2017-03-12 16:37] chexxor opened #32 "Find project root by psc-package.json"
Currently, psc-ide-vim is hard-coded to find a bower.json file. It should be relatively easy to have it search for a different file, such as "psc-package.json" - another means of providing a manifest for the app.

[2017-03-12 16:38] chexxor opened #33 "Support "purs ide client/server" commands"
PureScript 0.11 will start moving towards a singled executable for PureScript projects, including moving from "psc-ide-server/psc-ide-client" to "purs ide server/purs ide client".

[2017-03-13 03:09] coot commented on #31
I started working on it. I have very primary version (does not support all commands yet), if anybody want to try [here is the code](https://github.com/coot/psc-ide-vim/tree/jobs) and report problems that would be helpful.

[2017-03-13 03:10] coot commented on #31
@FrigoEU how old versions of vim do you want to support?

[2017-03-14 01:10] chexxor commented on #31
Link to his progress: https://github.com/FrigoEU/psc-ide-vim/pull/34

[2017-03-15 08:55] FrigoEU commented on #32
Fixed in #35 .

[2017-03-15 08:55] #32 closed

[2017-03-15 08:55] FrigoEU commented on #30
Do you get any errors in :messages?

[2017-03-15 09:21] FrigoEU opened #36 "Support documentation property in PSCIDEtype"
Support documentation property in PSCIDEtype

[2017-03-15 09:46] #26 closed

[2017-03-15 09:47] FrigoEU commented on #26
This error should be gone now, not enough dynamic type checks!

[2017-03-20 16:03] ravernkohdev opened #37 "bower.json not found (macOS)."
I created a new project via `pulp init` and then ran `vim src/Main.purs'. I wrote the file via `<C-W>` and it gave the error message
[code]
That's it. It was a fresh `pulp init` with a bower.json obviously in the same directory as where i started vim.

The following image shows the project layout when i ran `:find .` in vim.
<img width="1100" alt="screen shot 2017-03-21 at 12 02 59 am" src="https:

[2017-03-20 16:12] ravern commented on #30
You must be in a .purs file to use those commands.

[2017-03-20 16:43] #30 closed

[2017-03-20 20:47] FrigoEU commented on #37
Fixed in 0.6.3 (commit 4a69935). The mysteries of vimscript :)! Thanks for the report!

[2017-03-20 20:48] FrigoEU commented on #37
Btw: The problem was the wrong error message was returned. The problem is that the output/ dir is not present, so you need to run pulp build first. I fixed the error messages code.

[2017-03-20 22:27] ravern commented on #37
The issue is still present. Nothing has changed. Which directory should my vim be in?

[2017-03-20 22:29] ravern commented on #37
Could it be my vim version? (8.0)

[2017-03-21 09:46] FrigoEU commented on #37
Did you try running pulp build and then trying again? Is it the same problem? Are you on 0.6.3? I'm testing with neovim, if needed I'll upgrade my vim to v8.

[2017-03-23 20:30] knaman2609 commented on #30
sorry for the late reply

Somehow i didnt have this line in my vimrc.
`filetype plugin indent on " required"` and the plugin wasnt working.. others plugins have no effect though.

I put it back and now everything is fine, thanks

[2017-03-24 05:07] ravern commented on #37
Yes, the exact same problem occured.

I just deleted the plugin line from my vimrc (I am using vundle), cleaned my plugin folder and then reinstalled the plugin. I checked the source files and it should be the correct version.

I am using Vim 8.0 installed from Homebrew

[2017-03-29 16:33] ravern commented on #37
Hi, any chance I could get in touch with you, perhaps over Discord/Gitter or other chats? I really want to use PureScript in my Vim but this Plugin still isn't working for me.

[2017-03-29 17:48] FrigoEU commented on #37
I tried to simulate this by making a new repo with pulp and checking it in both neovim and vim 8 and I can't seem to recreate this. I'm on Gitter this evening.

[2017-03-29 18:22] FrigoEU commented on #37
Could you run ```:find .``` again after running pulp build, and also run ```:echo expand("%:p:h")```?

[2017-03-30 00:47] ravern commented on #37
`:find .`
<img width="2032" alt="screen shot 2017-03-30 at 8 45 53 am" src="https://cloud.githubusercontent.com/assets/22592318/24482616/573a5a82-1525-11e7-99e9-54fd8ce539da.png">

`:echo expand("%:p:h")`
<img width="399" alt="screen shot 2017-03-30 at 8 46 46 am" src="https://cloud.githubusercontent.com/assets/22592318/24482635/741527f4-1525-11e7-9708-0c9d08fe1754.png">

I have messaged you on Gi

[2017-03-30 05:33] FrigoEU commented on #37
Phew, found it! It's because the folder you made has a space in it. Somehow vim (or our psc-ide-vim code) isn't handling that well.

[2017-03-30 05:41] FrigoEU commented on #37
Hey @coot ,

You added this line ```findfile("bower.json", expand("%:p:h").";")```. When I replace
```expand("%:p:h").";"```with ```".;"``` it seems to still work, and also picks up files in folders that have spaces in them, but I can't really estimate the impact of this change. Why did you originally add that expand statement?

[2017-03-30 06:20] ravern commented on #37
Thanks so much, it works now.

[2017-03-30 06:20] #37 closed

[2017-03-30 11:04] coot commented on #37
ach, ok this will work:
[code]

I will make a pr.

[2017-03-30 11:15] coot commented on #37
If you use just "." vim will start the search from the current directory and that may differ from the current path, especially if one does not set `autochdir` option.

[2017-04-02 08:02] dlants opened #39 "some way to look at formatted error under cursor"
Long error messages (especially type errors) passed to syntastic become quite hard to read, since it seems that psc-ide-vim strips them of newlines during processing.

It would be great to have some easy way to look at the error under the cursor in a pretty-formatted way. Either by passing it to syntastic this way, or through a psc-ide-vim specific command.

Not sure how hard this is -- it seems t

[2017-04-03 16:27] matthewleon opened #40 "purescript 0.11.x compatibility"
Under purescript 0.11.x, I am constantly getting `Module x was not found` errors.

My apologies for the lack of diagnostic info. Please let me know if you need any debug logs and I'll be happy to attach them.

[2017-04-05 15:11] matthewleon commented on #40
Okay, I see what's happening here and will add some issues.

[2017-04-05 15:11] #40 closed

[2017-04-05 15:19] matthewleon opened #41 "root folder logic is incorrect"
Current logic (https://github.com/FrigoEU/psc-ide-vim/blob/master/ftplugin/purescript_pscide.vim#L57):

1.  Search up the FS tree for `psc-package.json`.
2. Found it? Then its directory is our root folder.
3. Didn't find it? Repeat for `bower.json`.

Correct logic: _always_ search up the tree for both `psc-package.json` and `bower.json`. The root folder is the closest one up the hierarchy.

Furthe

[2017-04-16 13:14] coot opened #42 "Purescript-0.11"
Update for purescript-0.11

[2017-04-17 14:38] coot commented on #42
duplicate of #33

[2017-04-17 14:38] #42 closed

[2017-04-17 14:38] coot commented on #33
pr #43

[2017-05-16 23:50] pulltogether opened #46 "PSCIDEload fails."
[code]

[2017-05-16 23:50] pulltogether commented on #46
We've also encountered `PSCIDEload: Failed to load. Error: '0'`

[2017-05-17 07:01] coot commented on #46
Could you set `let psc_ide_log_level=3` and copy paste the output.

[2017-05-17 21:47] paluh opened #47 "`PSCIDEapplySUggestion` failes with `No suggestion found` ..."
... but `g:psc_ide_suggestions` contains correct entry.

It seems that `g:psc_ide_suggestions` keys are based on relative paths, but `PSCIDEapplySuggestion` [builds absolute path value](https://github.com/FrigoEU/psc-ide-vim/blob/master/ftplugin/purescript_pscide.vim#L517) to make final lookup. When I drop `:p` modifier from `expand` call everything works as expected.

I can provide appropriate pu

[2017-05-17 22:13] kritzcreek commented on #47
@paluh I think this will be fixed with the next release. See https://github.com/purescript/purescript/pull/2867

[2017-05-17 22:28] paluh commented on #47
@kRITZCREEK Thanks for clarification... and for your wonderful Work on Purescript!

I'm closing it for now.

[2017-05-17 22:28] #47 closed

[2017-05-20 00:16] gyulalaszlo commented on #46
You might be having the same issue as I had:

[code]

It seems, that `psc-ide-client` is now `purs ide client` (as purescript does not install the command alias by default, only as a purs subcommand)

A quick and dirty hack (as I did not want to add a global alias) is to create a script somewhere in your PATH and run `purs ide ...` from there.

`~/.purs/bin/psc-ide-server`
[code]

`~/.purs/bin/psc

[2017-05-22 06:21] #33 closed

[2017-05-31 09:13] andreasthoelke opened #49 "Line above cursor gets deleted on :PSCIDEimportIdentifier"
After I updated to what's currently on master, I noticed that the line above the cursor gets deleted when I run :PSCIDEimportIdentifier and a new `import ..` line get's added at the top.

I didn't see this problem in earlier versions, however back then I saw my vim-folds shift when a new import line was added.

[2017-06-01 02:25] johnmendonca commented on #49
I am seeing this issue as well. The number of lines above the cursor stays constant.  When an import line is added, the line above cursor is removed.

[2017-06-02 13:54] rayshih opened #50 "Path not match for apply suggestion"
This is what I got for this command `:echo g:psc_ide_suggestions`

[code]

And for those functions using this information, for example:

https://github.com/FrigoEU/psc-ide-vim/blob/master/ftplugin/purescript_pscide.vim#L537

[code]

It will return full path like: `/Users/rayshih/workspace/purescript-pux-todomvc/src/Main.purs`

So It won't find the suggestion since one is the full path and the othe

[2017-06-02 14:50] paluh commented on #50
@rayshih As @kRITZCREEK has already [pointed out](https://github.com/FrigoEU/psc-ide-vim/issues/47) this is a `purs ide` [issue](https://github.com/purescript/purescript/pull/2867).

Maybe we should make temporary "fix" and change `%:p` to `%` in `PSCIDEapplySuggestion` till next `purescript` release (I'm patching it locally anyway because I can't live without automatic suggestion resolving).

[2017-06-02 15:04] rayshih commented on #50
@paluh Thanks for replying promptly. Could you maybe create a branch to include the patch of yours? Because I'm not familiar with vimscript. Thanks!

[2017-06-02 16:13] paluh commented on #50
@rayshih [Here](https://github.com/paluh/psc-ide-vim) you go!

[2017-06-03 01:47] rayshih commented on #50
@paluh cool!! Thank you!

[2017-06-03 16:02] paluh commented on #49
It seems that there was an `append(nrOfOldlinesUnderLine, linesToAppend)` call in this `if` branch somewhere in the past:

https://github.com/FrigoEU/psc-ide-vim/blob/5aa51d49b59ce9d3916796a7a5a940f17eee4b0c/ftplugin/purescript_pscide.vim#L262

but now it is missing:

https://github.com/FrigoEU/psc-ide-vim/blob/master/ftplugin/purescript_pscide.vim#L260

Am I right?

I wonder if we should bring ba

[2017-06-03 16:10] paluh commented on #50
@rayshih I'm also trying to fix/improve `importIdenfier` behavior on my branch, so if you notice any bugs related to this function please let me know.

[2017-06-03 17:05] paluh commented on #49
It seems that my [two minor changes](https://github.com/FrigoEU/psc-ide-vim/compare/master...paluh:master) fix these issues (cursor position and deleted line). I've got also "temprorary workaround" for `PSCIDEapplySuggestion` (as it is really `purs ide` bug), but I'm not sure if I should include it in pull request. @FrigoEU what do you think?

[2017-06-06 20:41] andreasthoelke commented on #49
Thanks @paluh, your changes fix the issue for me!

[2017-06-09 15:36] coot opened #52 "add vim style documentation"

[2017-06-09 15:38] coot opened #53 "refactor code to use autoload directory"
After merging #51 we should clean and refactor the code to use `autoload` directory.

[2017-06-09 16:05] coot opened #54 "change command names"
typeing `:PSCIDE....` is a lot of letters, what about using
`:Purs` or just `:P` as a prefix, though this might clash with some other plugins:

`:PSCIDEend` -> `:PursStop`
`:PSCIDEload` -> `:PursLoad`
`:PSCIDEgoToDefinition` -> `:PursGoto`
`:PSCIDEaddTypeAnnotation` -> `:PursAddType`
`:PSCIDEcwd` -> `:PursCwd`
`:PSCIDEaddClause` -> `:PursAddClause`
`:PSCIDEcaseSplit` -> `:PursSplit`
`:PSCIDEtype`

[2017-06-09 19:46] FrigoEU commented on #50
Could you try this again on the brand spanking new release?

[2017-06-09 19:46] FrigoEU commented on #49
Could you check if this is still a problem on the new release?

[2017-06-09 19:46] FrigoEU commented on #31
Million thanks to @coot for making this happen!

[2017-06-09 19:46] #31 closed

[2017-06-09 19:47] FrigoEU commented on #46
Is this still an issue?

[2017-06-10 16:41] chexxor commented on #50
I tested FrigoEU/psc-ide-vim:master with PSC-0.11.5 and confirm the applySuggestion command works. It doesn't work on PSC-0.11.4, however, because PSC returns full path to file, not relative path to file. This change is noted in the [PSC-0.11.5 release notes](https://github.com/purescript/purescript/releases/tag/v0.11.5)

A bit sad master branch doesn't work with PSC 0.11.4, but I think this maste

[2017-06-12 01:08] johnmendonca commented on #49
This is fixed for me on the latest release, thanks!

[2017-06-12 18:17] #49 closed

[2017-06-14 13:13] LightAndLight opened #59 "PSCIDEcaseSplit - either documentation or implementation is incorrect"
The gif in the docs shows :PSCIDEcaseSplit should prompting the user to enter a type, but the current build requires that the user pass the type as an argument to the ex command.

So either the gif and suggested key mapping should be updated, or the command should be changed to behave as in the docs. I'll submit a PR that does the latter.

[2017-06-14 17:18] prabirshrestha opened #61 "rename async#job#start to something else"
https://github.com/FrigoEU/psc-ide-vim/pull/51 adds async.vim support.

@FrigoEU @coot I would suggest changing the public api names to `pscidevim#jobs#start()` or something down that line so it doesn't conflict with the actual async.vim. More info at https://github.com/k-takata/minpac/issues/3#issuecomment-288865471

[code]

[2017-06-15 20:19] coot commented on #61
vim8 has packages if neovim has a similar feature we could use that to the avoid namespace issues.

[2017-06-23 00:42] arthur-xavier opened #62 "Update breaks Neovim"
The latest update which enables the use of async jobs seems to break the usage of this plugin with Neovim. When running `:PSCIDEload` with logging enabled on level 3 I get the following errors:

[code]

Is this expected behavior?

[2017-06-23 07:20] FrigoEU commented on #62
It's not mentioned in the documentation (yet), but you need Neovim 0.2 or higher. Could you check which version you're using? I'm using it with the last official Neovim release (0.2.0) and it works for me.

[2017-06-23 17:55] arthurxavierx commented on #62
That was it. I was using v0.1.5-dev. Just upgraded and it works perfectly! Thanks for the help @FrigoEU! :)

[2017-06-23 22:06] #62 closed

[2017-06-25 22:22] coot commented on #59
https://github.com/prabirshrestha/async.vim/issues/8

[2017-06-25 22:48] coot commented on #61
I checked that packages work both in vim an nvim.  You can move `autostart/async/job.vim` to `~/.vim/pack/async/start/async/autostart/async/job.vim` and use [async-package branch](https://github.com/coot/psc-ide-vim/tree/async-package).

[2017-07-04 16:53] chexxor opened #65 "Import module as qualified when importing a qualified function"
I haven't tested this in latest version of this plugin, but I want to ensure it's documented as existing or not in this plugin.

Would like to select `Array.filter`, execute `PSCIDEimportIdentifier`, and have `import Data.Array as Array` added to the imports list, rather than `import Data.Array (filter)`.

@kRITZCREEK added this in the 0.11.5 release of PureScript. Demo here: https://github.com/ep

[2017-07-05 07:39] #59 closed

[2017-07-05 09:14] kritzcreek commented on #65
To be clear, I added a new subcommand to the `addImport` command here: https://github.com/purescript/purescript/blob/b3e470deb302f8f400bbe140e600eba5c9e2c2b5/psc-ide/PROTOCOL.md#subcommand-addqualifiedimport

They way I implemented it in the Emacs plugin is:

1. Split qualifier and identifier
2. Run a completion/type command for the identifier without filters
3. a) 0 results -> display not found e

[2017-07-05 10:31] coot commented on #65
in vim you can
[code]
But there is no support for that for `PSCIDEimportIdentifier`.  I'd like to integrate `PSCIDEimportModule` and `PSCIDEimportIdentifier` into a single command.

[2017-07-09 16:59] natefaubion opened #68 "Startup on random port, use `.psc-ide-port`"
Other psc-ide plugins startup on a random port, and tag the port in a `.psc-ide-port` file. A global config means you can only have one instance running at a time.

[2017-07-11 22:33] skeate opened #69 "ALE syntax checking"
Is there any chance of getting this to work with [ALE](https://github.com/w0rp/ale)?

[2017-07-12 06:37] coot commented on #69
I'd prefer to have it in a separate plugin. I think we expose enough to to build integration for it, but I've never used ALE.

[2017-07-14 19:08] #61 closed

[2017-07-14 19:11] coot commented on #39
In the current version you can see formatted errors inside vim quick fix list. I tend to use
[code]
I even have a simple command for that
[code]
Handy for very long error messages

[2017-07-14 19:11] #39 closed

[2017-07-14 19:12] coot commented on #46
Please reopen if you still have an issue with master branch.

[2017-07-14 19:12] #46 closed

[2017-07-14 19:14] coot commented on #69
@FrigoEU please reopen if you don't agree :)

[2017-07-14 19:14] #69 closed

[2017-07-14 19:15] coot commented on #50
It seems everything works fine now.

[2017-07-14 19:15] #50 closed

[2017-07-15 17:20] dlants commented on #39
Hey @coot thanks for the tip, but sorry if I'm not understanding correctly. Are you saying that when psc-ide-vim populates the quickfix list, you can display it pretty-printed? I haven't been able to get that to happen... from what I understand quickfix can only contain a single line per error, and strips out newline characters (there also seems to be a max line-length, so very long errors get cro

[2017-07-15 21:32] coot commented on #39
Yes, that's true.  The common workaround for that is to put each line in a single entry and only put the filename and line number in the first one. vim will render it like this:
[code]

The `GhcMod` Haskell plugin is using this feature as well.

[2017-07-26 15:20] stifspear opened #71 "psc-ide-vim is giving error detected while processing"
[code]

Purescript is installed
Purescript-vim is also installed
But I am getting some error with psc-ide-vim.
I dont know the reason why.
Reporting issue for the first time so please ignore any mistakes

[2017-07-26 18:59] coot commented on #71
Thanks for the bug report.  I am not using syntastic myself (you can disable it with `let g:psc_ide_syntastic_mode = 0` in your `vimrc` file).

I can reproduce it.

[2017-07-26 19:03] #71 closed

[2017-07-26 19:04] coot commented on #71
Please check the master branch, and reopen if it still breaks for you.

[2017-07-26 19:28] stifspear commented on #71
Thank you for your reply. These errors are generated when I am saving my file.

"src/Main.purs" 9L, 198C written
Error detected while processing function PSCIDErebuild:
line    5:
E121: Undefined variable: v:t_func
E15: Invalid expression: a:0 >= 1 && type(a:1) == v:t_func
line   21:
E15: Invalid expression: > CallBack(s:PSCIDErebuildCallback(filename, msg, silent)) } )
E116: Invalid arguments for

[2017-07-26 19:48] coot commented on #71
What version of vim are you using? We are currently supporting vim-8 and some recent version of neovim.

[2017-07-26 20:33] stifspear commented on #71
vim 7.4
I will report after updating to vim 8.0

[2017-07-26 21:12] stifspear commented on #71
Yes it is working for vim 8.0. But when I am putting  g:psc_ide_syntastic_mode = 0 in my .vimrc Main.purs opens fine but it does not give me error reports for my Main.purs file. But when I remove "g:psc_ide_syntastic_mode = 0" line it gives this error
Error detected while processing function <SNR>43_autoStart:
line    1:
E121: Undefined variable: g:psc_ide_syntastic_mode
E15: Invalid expression: g

[2017-07-26 21:30] coot commented on #71
with `psc_ide_syntastic_mode=0` `psc-ide-vim` runs `PSCIDErebuild` on writes, it does not run it on `BufRead` autocommand.  Maybe I should change it...

[2017-07-31 06:44] coot commented on #68
I've been thinking about it for a while, and we are really missing that feature.  For the moment I have an autocommand which changes the port number:
[code]

[2017-07-31 07:29] paluh commented on #68
You can have local .vimrc in project directory with `let g:psc_ide_server_port = PORT_NUMBER` which I'm using extensively. I think that random port can be used, but only when `psc_ide_server_port` is not defined.

[2017-07-31 15:10] coot commented on #68
Yes, that's a good point.

[2017-08-02 16:47] matthewleon opened #78 "Undefined variable error on startup"
Using the version from this commit: https://github.com/FrigoEU/psc-ide-vim/commit/752b3f53e4d7248aa82db15c94776c44cdf1b43c

Vim 8. Version info at the bottom, followed by `.vimrc`. Installed this using `pack`: https://github.com/maralla/pack

[code]

Output from `vim --version`:

[code]

`.vimrc` is minimal...

[code]

[2017-08-02 23:26] #78 closed

[2017-08-02 23:27] coot commented on #78
Thanks for the bug report.

[2017-08-04 08:22] maackle opened #81 ""Go to definition", et al., unaware of imported names"
When using `:PSCIDEgoToDefinition`, I get too many suggestions. For instance, if `div` is the token under the cursor,

[code]

Even though I have `import Text.Smolder.HTML (div)` in my import declarations.

I even get a warning when trying to `import Prelude` about shadowing `div` (from Prelude), so the ide server is clearly aware of the imports in some capacity. Is there any way to filter out the

[2017-08-04 13:23] coot opened #82 "case split command"
It's broken.

[2017-08-04 13:25] coot opened #83 "user completion"
It's broken over qualified identifiers.

[2017-08-04 13:28] #54 closed

[2017-08-04 13:32] coot commented on #81
Thanks for the report. I am currently working on qualified identifiers.   Just pushed changes that should fix your case too. Note that I change command names in the master branch.  There's also vim documentation so you can check it there what are the new names.

Now you can
[code]
and you will land in `React.DOM` module (assuming that you imported `React.DOM` with `React.DOM` qualified (it will wo

[2017-08-04 13:32] #81 closed

[2017-08-04 15:13] #83 closed

[2017-08-04 17:03] maackle commented on #81
Your changes certainly did fix my case, and it put a huge smile on my face to wake up the morning after my issue to find it resolved! Thank you!

[2017-08-04 19:39] maackle opened #88 "`PSCIDEremoveImportQualifications` is referenced but does not exist"
via `:PremoveImportQualifications`

[2017-08-04 19:42] coot commented on #88
Thanks!

[2017-08-04 19:51] #88 closed

[2017-08-04 19:52] maackle commented on #88
What did that function do, anyway? And is there an alternative for it?

[2017-08-04 20:41] coot commented on #88
It was removing qualifiers:
[code]
I just thought it's not something that the plugin should provide.  It's too specific and to simple to just define in by someone in his .vim config.

[2017-08-04 20:43] coot commented on #88
Anyway, with `Pimport`, `Papply!` and its integration with omni- and user- completion functions, there's no need to touch the imports almost at all.

[2017-08-05 03:48] #82 closed

[2017-08-05 23:09] maackle opened #91 "Omnicomplete writes to disk when selecting suggestion - plays badly with YCM"
I'm not sure if this is intended or not, and I'm new to vim so I'm not sure if this is a common or even unavoidable thing, but: when omnicompleting, the buffer gets written to disk whenever selecting an omnicomplete suggestion. This is bad in its own right, but it also plays really badly with [YouCompleteMe](https://github.com/Valloric/YouCompleteMe), since in that case, it writes to disk *every t

[2017-08-06 01:17] coot commented on #91
That's a valid issue. It should not happen.  We used to save when importing identifiers, but now it happens through vim rather than letting `purs ide` change files in place.  I cannot reproduce it.

[2017-08-06 05:34] coot opened #94 "Qualifeid explicit imports"
[link](https://github.com/purescript/purescript/pull/3024)
[docs](https://github.com/purescript/purescript/blob/master/psc-ide/PROTOCOL.md#subcommand-addimport)

[2017-08-06 07:19] #94 closed

[2017-08-06 07:35] maackle commented on #91
That seems to be related, and still an issue for me. Here's a few lines from the message log (`g:psc_ide_log_level == 3`) where the writing happens. This was just from using autocomplete, not even calling importIdentifier.

[code]

Rather than wonder if importIdentifier should be called during autocomplete, I'll ask about the fact that importIdentifier makes a call to `purescript#ide#utils#update(

[2017-08-06 07:59] coot commented on #91
Yes, but we might not need this call any more.  `importIdentifier` is called on `CompleteDone` event and you can disable it with `let ide_import_on_comletion = v:false`.

There are various other places where we save the buffer.  For example when `:Prebuild` runs.  But that could also be avoided by saving the file to a temporary file and sending that file to recompile.

[2017-08-06 12:10] coot opened #96 "completion of qualified identifiers, which are not yet imported"
[code]

It should re-run the completion without the qualification (since it is not found in the import declarations) and then import the chosen expression with the qualification.

The completion run this command:
[code]
It should omit filters if there are no modules.

[2017-08-06 12:39] #96 closed

[2017-08-08 07:51] coot opened #98 "aborting omni completion with Esc"
Does not work properly, it leaves cursor in the wrong spot.  It should work as `<C-E>` does.

[2017-08-10 07:23] coot opened #99 "`Papply` adding type signature"
[code]
ends up with
[code]

[2017-08-16 14:17] coot opened #100 "Async error"
[code]

[2017-08-19 16:46] anttih opened #101 "Suggested mapping `<leader>s` does not work"
If I add the following

`nm <buffer> <silent> <leader>s :<C-U>call PSCIDEapplySuggestion()<CR>`

to after/ftplugin/purescript.vim and hit `<leader>s`, I get:

`E119: Not enough arguments for PSCIDEapplySuggestion`

[2017-08-19 16:55] anttih commented on #101
Sorry, I had the wrong mapping.

[2017-08-19 16:55] #101 closed

[2017-08-22 11:33] beckyconning opened #102 "Error detected while processing InitPureScript"
[code]

[2017-08-22 14:08] coot commented on #102
Thanks!

That's a bug in `purescript-vim`. I actually don't understand why:
[code]
could fail, in which which version of vim did this happen?

[2017-08-22 14:14] #102 closed

[2017-08-22 14:22] #100 closed

[2017-09-09 21:06] kika commented on #68
Oh, my, I'm an idiot. I have this working since December 2016 (on a fork at  https://github.com/kika/psc-ide-vim) and I never submitted a PR. I'll merge the upstream and submit.

[2017-09-09 21:12] coot commented on #68
Great, then it's battle tested :)

[2017-10-05 09:46] coot opened #106 "Add completion for module names"
Useful when manually writing import statements.

[2017-10-08 21:51] #106 closed

[2017-10-09 15:18] coot opened #109 "add qualified import after completing a qualified identifier"
Currently: unqualified import is added.

[2017-10-09 23:25] kika commented on #68
I've merged my changes but can't get through testing phase yet. I'm seeing a strange bug, which seems to be not related to port selection. Sometimes (typically when I hit TAB to get the completion) vim rescans the imports and suddenly reformats all my import lists. I've made a few 2-line changes to my sources which caused 20+ line commits, because of the changed import lists (they just got rearran

[2017-10-10 01:06] coot commented on #68
That's not a bug, that's a feature of `purs ide`. It formats imports when one is adding ones and we run it in `CompleDone` autocommand to import the identifier. You can turn it off though.

[2017-10-10 01:10] kika commented on #68
Hm, but I'm not adding anything, I just write some code.

[2017-10-10 08:25] coot opened #110 "Use filters to import value or type level identifiers."
https://github.com/purescript/purescript/issues/3083#issuecomment-335369222

[2017-10-12 00:59] ChrisPenner commented on #91
I'm suffering from this issue too; kinda making psc-ide unusable tbh.

Setting `let g:ide_import_on_completion = v:false` helps a lot 👍 ; I'd still love to see a more permanent fix though!

EDIT: Looks like some sort of automation is also automatically saving when I exit insert mode?? This whole hijacking my editor thing doesn't really work with my workflow. I'd much rather set up any autocmds tha

[2017-10-12 01:13] ChrisPenner opened #111 "How can I display multi-line?"
Not strictly a psc-ide issue; but just wondering if anyone can recommend a way to get the full error on screen, it's tough to work with this way:

![image](https://user-images.githubusercontent.com/6439644/31474455-1bba0e8a-aeb8-11e7-8f4a-1e1400c25788.png)

I can do `:lopen`, but it's not usually much better, it's bright orange and doesn't format multi-line
errors well.

![image](https://user-imag

[2017-10-12 04:56] #111 closed

[2017-10-14 12:43] BjornMelgaard opened #112 "add :GhcModType, :GhcModTypeClear like functionality"
to show not only type of one function under cursor, but [type of expression](https://github.com/eagletmt/ghcmod-vim#ghcmodtype-ghcmodtypeclear)

[2017-10-14 12:59] BjornMelgaard opened #113 "PaddType throws `no information found`, but pulp server inferring declaration fine"

[2017-10-14 14:37] kRITZCREEK commented on #112
That is not supported by purs ide at this point in time and is basically impossible to implement on the editor side, so it shouldn't be tracked here. It's something I have in mind for the purs ide project, but there are a lot of prerequisits missing.

[2017-10-14 14:37] #112 closed

[2017-10-14 14:40] kRITZCREEK commented on #113
This is implemented for top level declarations, through the compiler warnings. Quoting the `README.md` file:

[code]

One of these two functions will work if you call them on a compiler warning for a missing type signature.

[2017-10-14 14:53] BjornMelgaard commented on #113
aha..I didnt know what they do because they are not working for me

its saying

[code]

[code]
[code]

https://asciinema.org/a/8iDOyNZXRa6vT9fsKLERdJtsF

[2017-10-14 15:00] BjornMelgaard commented on #113
`nm <buffer> <silent> <localleader>T :<C-U>call PSCIDEaddTypeAnnotation(matchstr(getline(line(".")), '^\s*\zs\k\+\ze'))<CR>`
not working too

it says

[code]

[2017-10-17 07:42] BjornMelgaard commented on #112
@kRITZCREEK can you tell what prerequisites are missing? I'm just curious)

[2017-10-17 08:06] kRITZCREEK commented on #112
- We need to be able to run the individual parts of the compiler pipeline until we get to the type checker.
- We need to figure out how to effectively cache some of that work, so that things continue to work eventhough you made a change to an unrelated definition and the module doesn't compile anymore.
- Depending on how fast or slot that approach is, we might need to track all dependencies betwee

[2017-10-17 08:07] kRITZCREEK commented on #113
Maybe @coot can help here? I'm not using the VIM plugin currently.

[2017-10-17 08:44] coot commented on #113
I'll take a look somewhere this week, thanks for the report.

[2017-10-18 09:54] BjornMelgaard commented on #113
@coot would be greatly appreciated

however I have tried to fix it myself and found that this is due to `purs ide` responds on
`{"params": {"currentModule": "Main", "search": "answerA", "filters": [{"filter": "modules", "params": {"modules": ["Prelude", "Data.Array"]}}]}, "command": "type"}` with empty `{"result":[],"resultType":"success"}`

example
[code]

also does someone know why request above

[2017-10-18 10:12] kRITZCREEK commented on #113
The filters parameter was not optional before https://github.com/purescript/purescript/pull/3040. Just pass an empty array for now.

The editor plugins don't use the type command to provide the type signatures. They use suggestions on the compilation warnings instead: https://github.com/purescript/purescript/blob/71fc308a53bf89678c1e1d4a242cc01561d556d1/src/Language/PureScript/Errors/JSON.hs#L26-L

[2017-10-18 18:17] BjornMelgaard commented on #113
I didnt get it, psc-ide-vim sends this `"command": "type"` request to `purs ide` on `:PaddType`, there is something wrong?

________

I know fix for this issue:
substitute current filter parameters with `module name of searched function`

example:
[code]

P.S. adding `module name of searched function` as `currentModule` didnt help

[2017-10-18 19:32] kRITZCREEK commented on #113
@BjornMelgaard That's new to me :) I didn't know the VIM plugin does it this way. The compiler already emits suggestions for these, so I figured the plugin could just use those.

`currentModule` has a different use, in that it allows you to see module-private functions after a successful rebuild. So you'll also want to specify currentModule if you want to give type signatures to private functions.

[2017-10-18 19:38] BjornMelgaard commented on #113
@kRITZCREEK yes, plugin does this [here](https://github.com/FrigoEU/psc-ide-vim/blob/master/ftplugin/purescript_pscide.vim#L704)

Thanks, very helpful, I'll made fix soon)

[2017-10-19 09:51] BjornMelgaard commented on #113
@kRITZCREEK made fix

[2017-10-25 20:29] coot opened #117 "`Pimport Array.length` - qualified identifiers"

[2017-10-25 20:30] coot commented on #117
thanks @kRITZCREEK for the suggestion!

[2017-10-25 20:32] kritzcreek commented on #117
Probably related to #109

[2017-10-25 21:13] coot commented on #109
It may be fixed in: https://github.com/coot/psc-ide-vim/tree/qualified-import

[2017-11-17 21:17] coot opened #118 "Use location lists in a safe way"
Follow: https://groups.google.com/forum/#!topic/vim_use/LTWNG0nRQCc

[2017-11-17 21:18] coot commented on #118
@FrigoEU does neovim has a similar interface for location / quick fix lists?

[2017-11-17 22:12] FrigoEU commented on #118
Yup I think it's the same in neovim.

[2017-11-19 18:42] beckyconning opened #119 "Vim command to output what version of purescript the plugin is using"

[2017-11-27 13:46] beckyconning opened #120 "Always populate loc list"
I think this option should either be communicated in the documentation or set automatically by the plugin. Otherwise its impossible read errors longer than one line long and hard to find errors.

With this on users can type `lopen` to view and scroll through errors and warnings, and `lnext` and `lprev` to jump to errors and warnings.

With this off this is not possible without typing `:Errors` fir

[2017-11-30 20:22] andreasthoelke opened #121 "Evaluate expression and insert result in code view"
This maybe be a feature request or just something that I overlooked:

I would like to evaluate an expression or top level symbol and then get the result in vimscript, so I can insert it below the symbol name in the code view - similar to how `PSCIDEaddTypeAnnotation` inserts the type. This mostly saves me switching back and forth between a psci window and the code, but has other nice properties.
I

[2017-12-01 20:57] andreasthoelke opened #122 "Can't get inferred type of declarations in current module"
After updating to the newest versions of psc-ide-vim, purescript@0.11.7 and pulp@12.0.1, I’m no longer able to use `Ptype`.

When I create a fresh project with `pulp init`, I can run `:Pload` and `:Prebuild` successfully, but if I run `:Ptype main` in Main.purs I get “No type information found for main”. (`:Ptype log` works fine on the other hand/ gets me the type of the imported `log` function)

[2017-12-08 22:17] andreasthoelke commented on #122
I've looked into this a bit more.

If I call `:call PSCIDEtype('main', v:false)`, I get this in the logs:

`s:getType currentModule: Main
purescript#ide#call: command: {"params": {"currentModule": "Main", "search": "main", "filters": [{"filter": "modules", "params": {"modules": ["Prelude", "Control.Monad.Eff", "Control.Monad.Eff.Console"]}}]}, "command": "type"}`

`s:callFn: response: ["{\"result\

[2017-12-09 10:28] andreasthoelke commented on #122
@kRITZCREEK sent a reference to the emacs equivalent of `s:getType` in Slack:

https://github.com/epost/psc-ide-emacs/blob/633b07b238aff51dc4b95a75c67910a18ba28da1/psc-ide.el#L625-L661

However I can't spot where this includes the current module in the filter modules list either. So I guess I'm still confused about this: When I run a `type` command like this:

[code]
I don't get the type of `main`

[2017-12-09 11:39] andreasthoelke commented on #122
#113 is the same issue. I somehow overlooked this before.

[2017-12-09 11:41] andreasthoelke commented on #122
#113 is the same issue. I somehow overlooked this before.

[2017-12-09 12:28] andreasthoelke commented on #113
The underlying issue that the current module needs to be added to the filter modules list (i.e. `{"modules": ["Main", "Prelude",` or the filter needs to be empty (`'filters': []`) is also affecting `Ptype` and `PSCIDEtype` as I have come across in #122 .

I'd therefore suggest to change `s:getType` instead of `PSCIDEaddTypeAnnotation` like so:

[code]

[2017-12-12 11:35] andreasthoelke opened #123 "Papply/PSCIDEapplySuggestion misses a newline when inserting missing top-level type declaration"
`Papply`/`PSCIDEapplySuggestion` does not work as expected for me:

[code]
If I comment out this line https://github.com/FrigoEU/psc-ide-vim/blob/23bf302de91181d409fb988ce372ab703b119bc5/ftplugin/purescript_pscide.vim#L778
in `PSCIDEapplySuggestionPrime`

I get
[code]
(Note the false indentation of the second line)

The replacement insertion in `PSCIDEapplySuggestionPrime` is a bit involved, so no

[2017-12-14 20:12] coot commented on #122
Lets just add the current module to the list.

[2017-12-14 20:18] #113 closed

[2017-12-14 20:18] #122 closed

[2017-12-14 20:19] coot commented on #113
Let me know if this fixed the issue for you.

[2018-01-12 19:21] erszcz opened #126 "Disable Unicode arrows and other special characters"
When I use `:PaddType` the inferred type signatures often look like this:

[code]

While I'd much rather they looked like this, i.e. sticked to ASCII:

[code]

I'm not enough of an aesthete to bother with configuring my editor or input system to substitute these characters in place of my keyboard input, but I value consistency - since I'd not type them, I don't want them generated automatically.

[2018-01-12 20:13] crcornwell opened #127 "Update example bindings in README"
Currently the example bindings in the README call functions directly, as opposed to invoking the commands, and some of them are out of date (e.g. they call the function but without passing any arguments, which fails)

I put together a set of bindings that call the commands instead, and thought I'd share them here in case you want to use them to update the README:
[code]

[2018-01-31 02:48] matthewleon opened #128 "addImport failing on large files"
On large files, the response from `addImport` is large enough that the response seems to get split by `callFn` into multiple parts, causing `failed to decode response`.

Try editing `src/Data/Array.purs` from `purescript-arrays`, for example.

[2018-01-31 03:04] matthewleon commented on #128
From the `neovim` docs (should have mentioned that's what I'm useing):

[code]

[2018-02-20 20:36] beckyconning commented on #119
also the path where it is

[2018-03-04 02:36] maackle opened #130 ":Prebuild fails with unhelpful error"
Sorry that this issue is so unhelpful, but I dug as far as I could and got no more information than this...

Simply firing up vim and running `:Prebuild` while editing a .purs file gives me this in `:messages`

[code]

Obviously I don't expect help with this but if anybody else is seeing this / has seen this perhaps we'll get somewhere...

[2018-03-04 11:52] kritzcreek commented on #130
@maackle Step 1 would be to run `purs ide server --log-level=debug` in a separate terminal and use the VIM plugin against that. You'll need to remember to run the `load` command for attempting the rebuild! (Usually the plugin does that for you on startup)

[2018-03-04 18:19] maackle commented on #130
Thanks for the tip, but I didn't get to try that because now I can't reproduce the problem! Hopefully it stays this way.

[2018-03-04 20:08] #130 closed

[2018-03-11 12:59] #128 closed

[2018-03-11 13:06] coot commented on #127
Thanks

[2018-03-11 13:06] #127 closed

[2018-03-11 13:09] coot commented on #126
Not as far as I know.  It has been bothering me too, but not enough to write a patch...

[2018-03-11 13:34] #123 closed

[2018-03-11 13:36] coot commented on #123
Could you please try if the fix works for you, especially if does not break other suggestions.

[2018-03-11 13:38] coot commented on #121
I don't think there is support for that in `psc-ide` protocol.

[2018-03-12 14:41] andreasthoelke commented on #121
Right, it's not in the psc-ide protocol and I'm not sure if others think this would be a useful feature.

I'm now simply using nvim terminal mode to insert pulp repl results into the code:

[code]
It would need filtering in the event handler to not clutter your code with all outputs. Not a very elegant approach, so not sure how others are doing this.

[2018-05-08 07:03] moriyas1984 opened #135 "Error: E15: Invalid formula : > > s:callback(resp, a:ident, view, lines, silent, rebuild, ignoreMultiple, fixCol)}, v:true )"
I got an error immediately after installing psc-ide-vim and purescrpt-vim through dein.
The message is:
[code]
Sorry I'm using vim in Japanese and the message is translated by me, so the statements may have some mistakes.

Please let me know what to do to solve the problem.

Regards.

[2018-07-15 12:54] beckyconning opened #136 ""Module Effect was not found." error appears in psc-ide-vim but not pulp build"

[2018-07-15 12:59] beckyconning commented on #136
after a lot of messing around, deleting and restarting everything i tried `purs ide server` and it output `purs: Network.Socket.bind: resource busy (Address already in use)` so i ran `killall purs` and now its working.

[2018-07-15 12:59] #136 closed

[2018-07-17 21:21] dakom commented on #91
I'm also having major trouble with this and YCM ... was driving me nuts for hours since the bug was something like, editing _non-purescript files_ (like typescript) would trigger a webpack reload when various keys are pressed in insert mode. Yeah, really...

Was going to open a separate issue but it sounds highly related to this

[2018-07-19 23:14] dakom opened #137 "Only getting generic results - no signatures"
See for example:

![image](https://user-images.githubusercontent.com/6406986/42974997-7fa02e4c-8bc2-11e8-8e72-b3e5c067f788.png)

I tried various combinations of plugins... right now it's using Deoplete and syntastic

[2018-07-20 13:45] dakom commented on #137
Looking at your dotfiles fixed it ;)

[code]

[2018-07-20 13:45] #137 closed

[2018-08-25 19:07] sriharshachilakapati commented on #69
I think ALE is better than Syntastic, because it doesn't slow down VIM when opening files in large projects, and also it allows for on the fly error checking.

[2018-09-05 18:31] dakom commented on #120
Hmmm I just switched from ALE which wasn't working so great, to just using syntastic with this plugin which is wonderful.

However, I can't see greater detail than one line with errors... what I'd love is something like `ale_detail`

From searching I found this but it hasn't helped: https://www.reddit.com/r/vim/comments/5v6tma/help_getting_full_error_messages_in_syntastic/

How do you see greater

[2018-12-20 23:01] jdwolk commented on #69
Agreed. I've tried ALE and I love it. It would be awesome if I could make the switch to ALE but Purescript / psc-ide-vim keep me holding onto Syntastic a bit longer

[2019-01-31 15:56] sriharshachilakapati opened #140 "Multiple Project Support"
I have two projects running at the same time, one is a runtime dependent on the other. The backend server is written in 0.12 while the frontend is still on 0.11 because of some dependencies I'm using.

So I have two VIM instances open for each project. I'm managing the purs executable to use by using NVM to have two node installations with different purescript package installed in them.

Now when

[2019-03-01 20:15] larioj opened #141 "Pgoto does not work with psc-package"
For psc-package the purs files are in `.psc-package/<package-set>` but the plugin is looking in `bower_components`.

https://github.com/FrigoEU/psc-ide-vim/blob/6d4a3cc27e9782b703f6dd61ef5fdf27054bac0f/ftplugin/purescript_pscide.vim#L227

At a minimum we can make this location configurable, i.e. `let g:psc_ide_source_glob='.psc-package/<package-set>'`. But a better solution would be to look at the

[2019-03-14 20:23] ahansen90 commented on #98
This also writes the file to disk which is really surprising.

[2019-04-02 09:49] f-f opened #143 "Spago support"
Currently this checks only for `bower.json` and `psc-package.json`, but to support spago projects it should detect `spago.dhall` files (and call `spago sources` to get the source globs)

[2019-05-01 14:25] beckyconning opened #144 "E492: Not an editor command: Errors"
Honestly not sure what's going on. Most commands are working e.g. `Pimport` but errors aren't showing up in the sidebar and when I type `:Errors:` I get `E492: Not an editor command: Errors`.

[2019-05-01 14:44] beckyconning commented on #144
Uninstalled dein, installed vimplug reinstalled Syntastic. Syntastic needs to be installed.

[2019-05-24 12:51] danieljharvey commented on #143
Hello, #145 should resolve this.

[2019-06-06 05:39] srghma opened #147 "purs ide: no type information found for ..."
# Having

[code]

# Expected:

when my cursor at `a` variable and I do `:Ptype` - it should show type inferred of `a`

# Actual:

I have **NO** way to see the inferred type of `a`

it shows `purs ide: no type information found for a`

logs show that it tries to find type definition of `a` in *imported modules*

[code]

# Proposal:
- extend `purs ide server` so it derive type of range? something li

[2019-06-06 05:41] srghma commented on #147
oops, I did a duplicate of my own issue https://github.com/FrigoEU/psc-ide-vim/issues/112

[2019-09-14 11:59] alextes opened #148 "How about adding some new maintainers?"
This project seems largely unmaintained, yet used by quite a few still. How about adding some new maintainers?

If you're interested in maintaining this project, please put your name down below. I'd be happy to step up myself and do some minimal maintaining if nobody else will but only as a last resort.

I've emailed the maintainer and asked him to check out this issue.

[2019-09-16 08:43] FrigoEU commented on #148
Consider yourself invited!

[2019-09-17 05:46] alextes commented on #148
Thanks FrigoEU!

For others reading this, I'll use my new powers to merge the odd, clearly well-tested PR, but _that's it!_. If you'd like this repo to move forward further and you feel comfortable enough with this codebase, please consider stepping up yourself!

I'll leave this issue open for that exact purpose.

[2019-09-17 05:51] alextes commented on #143
Fixed in #145 .

[2019-09-17 05:51] #143 closed

[2019-10-31 15:17] ssadler opened #149 "Incompatible with vim option "autochdir""
I think this might be related to #41. If the `autochdir` option is set, the plugin seems to locate the root folder but doesn't start `purs ide` correctly.

[code]

[2019-10-31 16:10] ssadler opened #150 "How to hide certain warnings?"
Is there a way to hide some types of warnings?

[2020-03-05 02:23] LeifW opened #152 "How to use case split command?"
The readme suggests binding that to capitol 'C' - I bound it to lower-case 'c' as it seems challenging to me to also hit the shift key right after hitting '\'.

I would expect that putting the cursor on the `_` in
[code]
and typing `\c'` would split  that `_` for me. But what it says is `E471: Argument required`, and nothing happens.
If I run e.g. ":Pcase Either" at that position, it works. But I

[2020-03-05 02:42] kritzcreek commented on #152
The case splitting in `purs ide` (as implemented) does not type check the file, so it requires the user to tell it what type they'd like to case split.

The primary reason was to save some typing at the time, and I didn't find myself using the feature enough to continue improving it.

That's because neither of those are ADTs defined in PS. `Boolean` is defined in `Prim` and maps to JSs booleans, a

[2020-03-05 03:06] LeifW commented on #152
Thanks!
Is there a way of supplying an argument to a keybinding? When I type `\c`, it it immediately responds with `E471: Argument required` (before I have a chance to type anything else).

[2020-03-05 03:10] kritzcreek commented on #152
Sorry, I don't know enough (anything really) about vim script, so I couldn't tell. Maybe someone else can help out.

[2020-03-05 04:18] LeifW commented on #152
I saw this StackOverflow answer, where they call `input('Please supply a parameter: ')` when calling a function from the keybinding. https://vi.stackexchange.com/a/4754

`:Pcase` is defined as `com! -buffer -bang -nargs=1 Pcase call PSCIDEcaseSplit(<q-bang>, <q-args>)` at https://github.com/FrigoEU/psc-ide-vim/blob/master/ftplugin/purescript_pscide.vim#L134-L136

In the definition of the `PSCIDEca

[2020-04-20 04:18] handbagstevens commented on #140
This is a workaround:

1. In your root dir: `purs ide server -p 12345 src/**/*.purs`
2. In vim: `:let g:psc_ide_server_port = 12345`

Should be able to repeat this for each project directory (replacing 12345 with a new unused port number) :)

[2020-04-21 18:24] sriharshachilakapati commented on #140
@handbagstevens Thanks for the response! I have long switched to using the PureScript language server though.

[2020-06-11 17:07] milesfrain opened #153 "Documentation Questions"
This looks like some typos. I'd be happy make a PR to fix it, but I don't know what it's trying to say.
https://github.com/FrigoEU/psc-ide-vim/blob/5fb4e329e5c0c7d80f0356ab4028eee9c8bd3465/doc/psc-ide-vim.txt#L6-L7

Is the description for `:PaddType` backwards? I'd expect "add type annotation to a function" to mean start with a function without a type annotation, such as:
[code]
Then add the type

[2020-08-10 16:16] cheery opened #154 ":Pursuit -command fails, an old command that was removed from purs ide"
Since we're there and :Pursuit fails., well, lets go through the steps.
First look at debugging instructions from the script itself.
We can make it spit out the logs with:

    let g:psc_ide_log_level = 3

Now run the failing command and see what the `:messages` -command shows.

    purescript#ide#call: command: {"params":{"query":"String","type":"completion"},"command":"pursuit"}
    s:callFn: re

[2021-05-25 10:27] paluh commented on #148
Hi,

Could you please add me to the maintainers of this project?

I'm a long standing user of _psc-ide-vim_ and I have three PRs waiting for merges (the most urgent is the last one as _psc-ide-vim_ is not working at all when you try it with _purs-0.14.1_) so I think I'm quite familiar already with the project internals.

[2021-05-31 15:22] alextes commented on #148
@paluh I'm not using PureScript myself anymore. Adding maintainers it not something I can do 😥 .

I'll take a look at your PRs, if nothing more happens perhaps it's time to fork!

[2021-05-31 15:22] #148 closed

[2021-05-31 16:11] paluh commented on #148
@alextes thanks for the info and merges!

@FrigoEU, could you please add me to the maintainers of this project?

[2021-05-31 16:15] alextes commented on #148
@paluh it'd be nice to continue this repo but I wouldn't hesitate to merge if no reply comes. fwiw last time I got Simon over here by sending him an email.